<%- include('../includes/head.ejs') %>
<style>
    img{
        width: 20rem;
        height: 20rem;
    }
</style>
    </head>
    <body>
        <%- include('../includes/navbar.ejs') %>
        <main class="centered">
            <h1><%= prods.title %></h1>
            <hr>
            <div>
                <img src="<%= prods.imageUrl %>" alt="<%= prods.title %>" >
            </div>
            <h2><%= prods.price %></h2>
            <p><%= prods.description %></p>
        </main>
        <%- include('../includes/end.ejs') %>